botorch>=0.8.5
matter-chimera
matter-golem
scikit-learn
scipy
pyDOE
sobol-seq
tqdm
ipykernel
jupyterlab
matplotlib<=3.7.3
pandas<=2.0.3
seaborn
SQLAlchemy
silence-tensorflow
protobuf==3.20.*
tensorflow==2.15
tensorflow-probability==0.23.0
deap
rich
pytest
pytest-cov
gspread
matter-golem
pymoo
GPy
cmcrameri
