botorch
matter-chimera
matter-golem
scikit-learn
scipy
pyDOE
sobol-seq
tqdm
ipykernel
jupyterlab
matplotlib
seaborn
pandas
SQLAlchemy
silence-tensorflow
deap
rich
pytest
pytest-cov
gspread
matter-golem
